version: '3.8'

services:
  db:
    image: postgres:14-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: pokemon_db          # ⬅️ 
      POSTGRES_USER: dev_user          # ⬅️ 
      POSTGRES_PASSWORD: your_strong_password_here 
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  app:
    build: .                    
    container_name: django_pokemon_api
    environment:
      - PYTHONPATH=/app/challenge_backend
      - POSTGRES_DB=pokemon_db
      - POSTGRES_USER=dev_user
      - POSTGRES_PASSWORD=your_strong_password_here
    command: sh -c "python challenge_backend/manage.py migrate && python challenge_backend/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"               
    depends_on:
      - db                       

volumes:
  postgres_data: